@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts/amberLight/stylesheet.css");
@import url("../fonts/cinzel/stylesheet.css");

.ivory {
    background-color: rgb(229 229 229);
}

.offBlack {
    color: rgb(46, 46, 46);
}

.cinzelDecorative {
    font-family: "Cinzel Decorative";
}

.cinzel {
    font-family: "Cinzel";
}

.amberLight {
    font-family: "Amber Light Font";
}