@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Black.woff2') format('woff2'),
        url('Cinzel-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('CinzelDecorative-Regular.woff2') format('woff2'),
        url('CinzelDecorative-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Bold.woff2') format('woff2'),
        url('Cinzel-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.woff2') format('woff2'),
        url('Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('CinzelDecorative-Black.woff2') format('woff2'),
        url('CinzelDecorative-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('CinzelDecorative-Bold.woff2') format('woff2'),
        url('CinzelDecorative-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

