@font-face {
    font-family: 'Quickpen';
    src: url('Quickpen.woff2') format('woff2'),
        url('Quickpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

